
<!-- UP -->
<link rel="stylesheet" href="{% static 'mood/topbar/assets/vendor/slidepanel/slidePanel.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/vendor/chartist/chartist.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/vendor/jquery-selective/jquery-selective.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/examples/css/apps/work.css' %}">

<!-- DOWN -->

<script src="{% static 'mood/topbar/assets/js/App/Work.js' %}"></script>
<script src="{% static 'mood/topbar/assets/examples/js/apps/work.js' %}"></script>