{% load static %}
<link rel="apple-touch-icon" href="{% static 'mood/base/assets/images/apple-touch-icon.png' %}">
<link rel="shortcut icon" href="{% static 'mood/base/assets/images/favicon.ico' %}">

<!-- Stylesheets -->
<link rel="stylesheet" href="{% static 'mood/global/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'mood/global/css/bootstrap-extend.min.css' %}">
<link rel="stylesheet" href="{% static 'mood/base/assets/css/site.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/fontawesome-free-5/css/all.css' %}">

<!-- Plugins -->
<link rel="stylesheet" href="{% static 'mood/global/vendor/animsition/animsition.css' %}">
<link rel="stylesheet" href="{% static 'mood/global/vendor/asscrollable/asScrollable.css' %}">
<link rel="stylesheet" href="{% static 'mood/global/vendor/switchery/switchery.css' %}">
<link rel="stylesheet" href="{% static 'mood/global/vendor/intro-js/introjs.css' %}">
<link rel="stylesheet" href="{% static 'mood/global/vendor/slidepanel/slidePanel.css' %}">
<link rel="stylesheet" href="{% static 'mood/global/vendor/flag-icon-css/flag-icon.css' %}">
<link rel="stylesheet" href="{% static 'mood/global/vendor/waves/waves.css' %}">
<link rel="stylesheet" href="{% static 'mood/global/vendor/chartist/chartist.css' %}">
<link rel="stylesheet" href="{% static 'mood/global/vendor/jvectormap/jquery-jvectormap.css' %}">
<link rel="stylesheet" href="{% static 'mood/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css' %}">
<link rel="stylesheet" href="{% static 'mood/base/assets/examples/css/dashboard/v1.css' %}">

<link rel="stylesheet" href="{% static 'mood/base/assets/examples/css/pages/profile.css' %}">

<!-- Fonts -->
<link rel="stylesheet" href="{% static 'mood/global/fonts/material-design/material-design.min.css' %}">
<link rel="stylesheet" href="{% static 'mood/global/fonts/brand-icons/brand-icons.min.css' %}">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
     
<link rel="stylesheet" href="{% static 'css/sweetcss.css' %}">


<link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'css/rowGroup.dataTables.min.css' %}">



<style>
    #DataTables_Table_0_wrapper {
        width: 100%
    }
</style>


<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/dataTables.rowGroup.min.js' %}"></script>


<!--[if lt IE 9]>
    <script src="../../global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

<!--[if lt IE 10]>
    <script src="../../global/vendor/media-match/media.match.min.js"></script>
    <script src="../../global/vendor/respond/respond.min.js"></script>
    <![endif]-->

<!-- Scripts -->
<script src="{% static 'mood/global/vendor/breakpoints/breakpoints.js' %}"></script>
<script>
    Breakpoints();
</script>