
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">
    
    <title>{{ title }} | RQ</title>
    {% include 'ulinkadmin/shared/linkup.html' %}
    
  </head>
  <body class="animsition site-navbar-small app-mailbox page-aside-left">
   
    {% include 'ulinkadmin/shared/header.html' %}
    <!-- Page -->
    {% block page %}{% endblock %}
    <!-- End Page -->
  
    {% include 'ulinkadmin/shared/linkbottom.html' %}
   
  </body>
</html>
