{% load static %}
<link rel="apple-touch-icon" href="{% static 'mood/topbar/assets/images/apple-touch-icon.png' %}">
<link rel="shortcut icon" href="{% static 'mood//topbar/assets/images/favicon.ico' %}">


<!-- Stylesheets -->
<link rel="stylesheet" href="{% static 'mood/topbar/assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/css/bootstrap-extend.min.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/css/site.min.css' %}">

<!-- Plugins -->
<link rel="stylesheet" href="{% static 'mood/topbar/assets/vendor/animsition/animsition.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/vendor/asscrollable/asScrollable.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/vendor/switchery/switchery.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/vendor/intro-js/introjs.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/vendor/slidepanel/slidePanel.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/vendor/flag-icon-css/flag-icon.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/vendor/bootstrap-markdown/bootstrap-markdown.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/vendor/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/examples/css/apps/mailbox.css' %}">


<!-- Fonts -->
<link rel="stylesheet" href="{% static 'mood/topbar/assets/fonts/font-awesome/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/fonts/web-icons/web-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'mood/topbar/assets/fonts/brand-icons/brand-icons.min.css' %}">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>



<style>
    #DataTables_Table_0_wrapper {
        width: 100%
    }
</style>

<!--[if lt IE 9]>
    <script src="../../global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

<!--[if lt IE 10]>
    <script src="../../global/vendor/media-match/media.match.min.js"></script>
    <script src="../../global/vendor/respond/respond.min.js"></script>
    <![endif]-->

<!-- Scripts -->
<script src="{% static 'mood/topbar/assets/vendor/breakpoints/breakpoints.js' %}"></script>
<script>
    Breakpoints();
</script>