<!-- Footer -->
{% load static %}
<footer class="site-footer">
    <div class="site-footer-legal">© 2022 <a href="#">Cristal</a></div>
    <div class="site-footer-right">
         <a href="#">POC</a>
    </div>
</footer>

<script src="{% static 'js/sweetalert2.all.js' %}"></script>
<!-- Core  -->
<script src="{% static 'mood/topbar/assets/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
<script src="{% static 'mood/topbar/assets/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'mood/topbar/assets/vendor/popper-js/umd/popper.min.js' %}"></script>
<script src="{% static 'mood/topbar/assets/vendor/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'mood/topbar/assets/vendor/animsition/animsition.js' %}"></script>
<script src="{% static 'mood/topbar/assets/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'mood/topbar/assets/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
<script src="{% static 'mood/topbar/assets/vendor/asscrollable/jquery-asScrollable.js' %}"></script>



<!-- Plugins -->
<script src="{% static 'mood/topbar/assets/vendor/switchery/switchery.js' %}"></script>
<script src="{% static 'mood/topbar/assets/vendor/intro-js/intro.js' %}"></script>
<script src="{% static 'mood/topbar/assets/vendor/screenfull/screenfull.js' %}"></script>
<script src="{% static 'mood/topbar/assets/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/vendor/select2/select2.min.js' %}"></script>
   
    <script src="{% static 'mood/topbar/assets/vendor/bootstrap-markdown/bootstrap-markdown.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/vendor/marked/marked.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/vendor/aspaginator/jquery-asPaginator.min.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/vendor/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/vendor/bootbox/bootbox.js' %}"></script>
<!-- Scripts -->
<script src="{% static 'mood/topbar/assets/js/Component.js' %}"></script>
<script src="{% static 'mood/topbar/assets/js/Plugin.js' %}"></script>
<script src="{% static 'mood/topbar/assets/js/Base.js' %}"></script>
<script src="{% static 'mood/topbar/assets/js/Config.js' %}"></script>

<script src="{% static 'mood/topbar/assets/js/Section/Menubar.js' %}"></script>
<script src="{% static 'mood/topbar/assets/js/Section/Sidebar.js' %}"></script>
<script src="{% static 'mood/topbar/assets/js/Section/PageAside.js' %}"></script>
<script src="{% static 'mood/topbar/assets/js/Plugin/menu.js' %}"></script>

<script src="{% static 'mood/topbar/assets/js/config/colors.js' %}"></script>
<script src="{% static 'mood/topbar/assets/js/config/tour.js' %}"></script>
<script>
    Config.set('assets', '../assets');
</script>

<!-- Page -->
<script src="{% static 'mood/topbar/assets/js/Site.js' %}"></script>
<script src="{% static 'mood/topbar/assets/js/Plugin/asscrollable.js' %}"></script>
<script src="{% static 'mood/topbar/assets/js/Plugin/slidepanel.js' %}"></script>
<script src="{% static 'mood/topbar/assets/js/Plugin/switchery.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/js/Plugin/action-btn.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/js/Plugin/asselectable.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/js/Plugin/editlist.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/js/Plugin/select2.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/js/Plugin/aspaginator.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/js/Plugin/animate-list.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/js/Plugin/selectable.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/js/Plugin/material.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/js/Plugin/bootbox.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/js/Site.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/js/App/Documents.js' %}"></script>
    <script src="{% static 'mood/topbar/assets/examples/js/apps/documents.js' %}"></script>

   

